In [ ]:
# How to use beautifulsoup

In [59]:
import pandasdmx
# df = pd.read_csv('ChildMarriage2014.csv')
# print(df)

oecd = pandasdmx.Request('OECD')
data_response = oecd.data(resource_id='GIDDB2014')
df = data_response.write(data_response.data)

df

REG         MENA                                                   ...    \
LOCATION     BHR                                                   ...
INC          HIN                                                   ...
VAR         FC_1  FC_2 RP_2 RP_4  SB_1 RR_1 RR_3 RR_4 RC_1 RC_2_1  ...
TIME_PERIOD                                                        ...
2014         1.0  0.04  0.0  0.5  0.25  0.0  0.0  0.5  0.5    1.0  ...

REG            ALL
LOCATION       QAT
INC            AIC
VAR         FC_3_1  SB_3 RP_1_1 FC_3_2 FC_4_1 FC_4_2 FC_5 RP_1_3 RP_1_4 RP_1_5
TIME_PERIOD
2014           1.0  0.28    0.2    1.0    1.0    1.0  1.0    1.0   0.75    0.0

[1 rows x 15536 columns]