In [184]:
import pandasdmx
import json
from bs4 import BeautifulSoup

# soup = BeautifulSoup("https://stats.oecd.org/restsdmx/sdmx.ashx/GetData/GIDDB2014/EAP+ECA+LAC+MENA+NA+SA+SSA+ALL.AUS+AUT+BEL+CAN+CHL+CZE+DNK+EST+FIN+FRA+DEU+GRC+HUN+ISL+IRL+ISR+ITA+JPN+KOR+LVA+LTU+LUX+MEX+NLD+NZL+NOR+POL+PRT+SVK+SVN+ESP+SWE+CHE+TUR+GBR+USA+NMEC+AFG+ALB+DZA+AGO+ARG+ARM+AZE+BHR+BGD+BLR+BEN+BTN+BOL+BIH+BWA+BRA+BGR+BFA+BDI+KHM+CMR+CAF+TCD+CHN+COL+COG+COD+CRI+CIV+HRV+CUB+CYP+DOM+ECU+EGY+SLV+GNQ+ERI+ETH+FJI+MKD+GAB+GMB+GEO+GHA+GTM+GIN+GNB+HTI+HND+HKG+IND+IDN+IRN+IRQ+JAM+JOR+KAZ+KEN+PRK+KWT+KGZ+LAO+LBN+LSO+LBR+LBY+MDG+MWI+MYS+MLI+MRT+MUS+MDA+MNG+MAR+MOZ+MMR+NAM+NPL+NIC+NER+NGA+PSE+OMN+PAK+PAN+PNG+PRY+PER+PHL+QAT+ROU+RUS+RWA+SAU+SEN+SRB+SLE+SGP+SOM+ZAF+LKA+SDN+SWZ+SYR+TJK+TZA+THA+TLS+TGO+TTO+TUN+TKM+UGA+UKR+ARE+URY+UZB+VEN+VNM+YEM+ZMB+ZWE.HIN+HIO+UMI+LMI+LIN+AIC.FC_2/all?startTime=2014&endTime=2014", 'lxml')
# ChildMarriage = soup.find('FC_2', {'Country':'Early Marriage'})
# Marriagerate = ChildMarriage
# print (Marriagerate)
    
df = pd.read_csv('ChildMarriage2014.csv')
#df2 = df[['Country','Time', 'Value', 'Income group']].copy()
#df2.to_csv('ChildMarriageValue', sep='\t')

df3 = pd.read_csv('ChildMarriageValue', sep ='\t', engine='python')
df3

# response = requests.get('https://stats.oecd.org/restsdmx/sdmx.ashx/GetData/GIDDB2014/EAP+ECA+LAC+MENA+NA+SA+SSA+ALL.AUS+AUT+BEL+CAN+CHL+CZE+DNK+EST+FIN+FRA+DEU+GRC+HUN+ISL+IRL+ISR+ITA+JPN+KOR+LVA+LTU+LUX+MEX+NLD+NZL+NOR+POL+PRT+SVK+SVN+ESP+SWE+CHE+TUR+GBR+USA+NMEC+AFG+ALB+DZA+AGO+ARG+ARM+AZE+BHR+BGD+BLR+BEN+BTN+BOL+BIH+BWA+BRA+BGR+BFA+BDI+KHM+CMR+CAF+TCD+CHN+COL+COG+COD+CRI+CIV+HRV+CUB+CYP+DOM+ECU+EGY+SLV+GNQ+ERI+ETH+FJI+MKD+GAB+GMB+GEO+GHA+GTM+GIN+GNB+HTI+HND+HKG+IND+IDN+IRN+IRQ+JAM+JOR+KAZ+KEN+PRK+KWT+KGZ+LAO+LBN+LSO+LBR+LBY+MDG+MWI+MYS+MLI+MRT+MUS+MDA+MNG+MAR+MOZ+MMR+NAM+NPL+NIC+NER+NGA+PSE+OMN+PAK+PAN+PNG+PRY+PER+PHL+QAT+ROU+RUS+RWA+SAU+SEN+SRB+SLE+SGP+SOM+ZAF+LKA+SDN+SWZ+SYR+TJK+TZA+THA+TLS+TGO+TTO+TUN+TKM+UGA+UKR+ARE+URY+UZB+VEN+VNM+YEM+ZMB+ZWE.HIN+HIO+UMI+LMI+LIN+AIC.FC_2/all?startTime=2014&endTime=2014')
# response

     Unnamed: 0               Country  Time  Value           Income group
0             0               Bahrain  2014   0.04   High income: nonOECD
1             1               Croatia  2014   0.02   High income: nonOECD
2             2                Cyprus  2014   0.02   High income: nonOECD
3             3     Equatorial Guinea  2014   0.26   High income: nonOECD
4             4      Hong Kong, China  2014   0.00   High income: nonOECD
5             5                Kuwait  2014   0.05   High income: nonOECD
6             6                Latvia  2014   0.01   High income: nonOECD
7             7             Lithuania  2014   0.00   High income: nonOECD
8             8                  Oman  2014   0.04   High income: nonOECD
9             9                 Qatar  2014   0.18   High income: nonOECD
10           10                Russia  2014   0.08   High income: nonOECD
11           11          Saudi Arabia  2014   0.04   High income: nonOECD
12           12             Singapore  2014   0.00   High income: nonOECD
13           13   Trinidad and Tobago  2014   0.03   High income: nonOECD
14           14  United Arab Emirates  2014   0.07   High income: nonOECD
15           15               Uruguay  2014   0.11   High income: nonOECD
16           16             Australia  2014   0.01      High income: OECD
17           17               Austria  2014   0.00      High income: OECD
18           18               Belgium  2014   0.01      High income: OECD
19           19                Canada  2014   0.03      High income: OECD
20           20        Czech Republic  2014   0.00      High income: OECD
21           21               Denmark  2014   0.00      High income: OECD
22           22               Finland  2014   0.01      High income: OECD
23           23                France  2014   0.01      High income: OECD
24           24               Germany  2014   0.00      High income: OECD
25           25                Greece  2014   0.04      High income: OECD
26           26               Iceland  2014   0.01      High income: OECD
27           27               Ireland  2014   0.00      High income: OECD
28           28                 Italy  2014   0.00      High income: OECD
29           29                 Japan  2014   0.01      High income: OECD
..          ...                   ...   ...    ...                    ...
610         610          Saudi Arabia  2014   0.04  All income categories
611         611               Senegal  2014   0.25  All income categories
612         612          Sierra Leone  2014   0.31  All income categories
613         613             Singapore  2014   0.00  All income categories
614         614              Slovenia  2014   0.01  All income categories
615         615               Somalia  2014   0.22  All income categories
616         616          South Africa  2014   0.03  All income categories
617         617             Sri Lanka  2014   0.09  All income categories
618         618                 Sudan  2014   0.24  All income categories
619         619              Eswatini  2014   0.07  All income categories
620         620  Syrian Arab Republic  2014   0.11  All income categories
621         621            Tajikistan  2014   0.13  All income categories
622         622              Tanzania  2014   0.20  All income categories
623         623              Thailand  2014   0.11  All income categories
624         624           Timor-Leste  2014   0.08  All income categories
625         625                  Togo  2014   0.16  All income categories
626         626   Trinidad and Tobago  2014   0.03  All income categories
627         627               Tunisia  2014   0.02  All income categories
628         628          Turkmenistan  2014   0.05  All income categories
629         629                Uganda  2014   0.23  All income categories
630         630               Ukraine  2014   0.07  All income categories
631         631  United Arab Emirates  2014   0.07  All income categories
632         632               Uruguay  2014   0.11  All income categories
633         633            Uzbekistan  2014   0.05  All income categories
634         634             Venezuela  2014   0.17  All income categories
635         635              Viet Nam  2014   0.10  All income categories
636         636                 Yemen  2014   0.17  All income categories
637         637                Zambia  2014   0.19  All income categories
638         638              Zimbabwe  2014   0.26  All income categories
639         639                Serbia  2014   0.05  All income categories

[640 rows x 5 columns]