In [1]:
#import pandasdmx

In [4]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import wbdata

In [2]:
# oecd = pandasdmx.Request('OECD')

# data_response = oecd.data(resource_id='GDP', key='all?startTime=2000')
# df = data_response.write(data_response.data.series, parse_time=False)

# df

# giddp2014

In [11]:
#pip install pandas-datareader
import pandas_datareader.data as web

import datetime

df = web.DataReader('TUD', 'oecd', end=datetime.datetime(2012, 1, 1))

df

Country          Iceland                                                       \
Frequency         Annual
Source       Survey data
Series     Union members            Trade union  density            Employees
Measure        Thousands Percentage            Thousands Percentage Thousands
Year
2010-01-01           NaN        NaN                  NaN        NaN       NaN
2011-01-01           NaN        NaN                  NaN        NaN       NaN
2012-01-01           NaN        NaN                  NaN        NaN       NaN

Country                                                                    \
Frequency
Source                Administrative data
Series                      Union members            Trade union  density
Measure    Percentage           Thousands Percentage            Thousands
Year
2010-01-01        NaN                83.0        NaN                  NaN
2011-01-01        NaN                 NaN        NaN                  NaN
2012-01-01        NaN                 NaN        NaN                  NaN

Country                  ...                Lithuania                       \
Frequency                ...                   Annual
Source                   ...              Survey data
Series                   ...     Trade union  density            Employees
Measure    Percentage    ...                Thousands Percentage Thousands
Year                     ...
2010-01-01  78.524125    ...                      NaN        NaN       NaN
2011-01-01        NaN    ...                      NaN        NaN       NaN
2012-01-01        NaN    ...                      NaN        NaN       NaN

Country                                                                    \
Frequency
Source                Administrative data
Series                      Union members            Trade union  density
Measure    Percentage           Thousands Percentage            Thousands
Year
2010-01-01        NaN                 NaN        NaN                  NaN
2011-01-01        NaN                 NaN        NaN                  NaN
2012-01-01        NaN                 NaN        NaN                  NaN

Country
Frequency
Source
Series                Employees
Measure    Percentage Thousands Percentage
Year
2010-01-01        NaN       NaN        NaN
2011-01-01        NaN       NaN        NaN
2012-01-01        NaN       NaN        NaN

[3 rows x 432 columns]